.how_we_work {
    padding: 0 0 100px 0;
}

.work_title {
    font-weight: normal;
    font-size: 48px;
    color: #333333;
    margin-bottom: 40px;
}

.work_list_1 {
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 460px;
    margin-bottom: 49px;
}

.work-list-item-1 {
    border-top: 3px solid transparent;
    position: relative;
    z-index: 2;
    font-weight: normal;
    font-size: 18px;
    padding-top: 8px;
}

.work-list-item-1:first-child {
    color: #FF9900;
    margin-left: 0;
}

.work-list-item-1:last-child {
    margin-right: 0;
}

.work-list-btn {
    border: none;
    border-top: 3px solid transparent;
    padding-top: 5px;
    background-color: #fff;
}

.work-list-btn:hover {
    border-top: 3px solid #FF9900;
    color: #FF9900;
    cursor: pointer;
}

.work-list-btn:active {
    border-top: 3px solid #FF9900;
    color: #E1670E;
}

.work-list-btn:focus {
    border-color: #FF9900;
}

.work_list_2 {
    display: flex;
    width: 100%;
}

.after_1::after {
    content: '';
    background: url("../img/Rectangle-3.jpg") center center/cover no-repeat;
    background-position: center;
    width: 870px;
    height: 465px;
}

.after_2::after {
    content: '';
    background: url("../img/Rectangle_8.jpg") center center/cover no-repeat;
    background-position: center;
    width: 870px;
    height: 465px;
}

.after_3::after {
    content: '';
    background: url("../img/Rectangle_9.jpg") center center/cover no-repeat;
    background-position: center;
    width: 870px;
    height: 465px;
}

.after_4::after {
    content: '';
    background: url("../img/Rectangle_10.jpg") center center/cover no-repeat;
    background-position: center;
    width: 870px;
    height: 465px;
}

.work-list-item-2-text {
    font-size: 16px;
    display: inline-block;
    margin-right: 142px;
    max-width: 758px;
}

.text-text {
    font-size: 16px;
    line-height: 32px;
    margin-top: 5px;
}

.link-details-btn {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    width: 175px;
    height: 60px;
    background-color: #FF9900;
    border: none;
    margin-top: 54px; 
    text-decoration: none;
    color: #fff;
    padding: 20px 40px;
    transition: all .2s ease-in-out;
}

.link-details-btn:hover {
    background: #F7B045;
    cursor: pointer;
    border: none;
}

.link-details-btn:focus {
    background: #F7B045;
    border: none;
}

.link-details-btn:active {
    background: #E1670E;
}

.link-contract-btn {
    width: 140px;
    height: 60px;
    margin-left: 30px;
    background-color: transparent;
    display: inline-block;
    border: 1px solid #333333;
    text-decoration: none;
    color: #333333;
    padding: 20px 35px;
    vertical-align: bottom;
    transition: all .2s ease-in-out;
}

.link-contract-btn:hover {
    color: #fff;
    background-color: #666;
    border-color: transparent;
    cursor: pointer;
}

.link-contract-btn:focus {
    color: #fff;
    background-color: #666;
    border: none;
}

.link-contract-btn:active {
    color: #fff;
    background: #000;
    border: none;
}

.work-contract-btn:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.work_text_title {
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}

.tab-content {
    display: none;
 }
 
 .tab-content-active {
    display: block;
}

@media (max-width: 1450px) {
    .work_list_2 {
        flex-direction: column-reverse;
    }

    .work-list-item-2-text {
        margin-right: 0;
        max-width: 100%;
    }

    .after_1:after {
        width: 100%;
        height: 30vw;
        background-size: cover;
        margin-bottom: 30px;
    }

    .after_2:after {
        width: 100%;
        height: 30vw;
        background-size: cover;
        margin-bottom: 30px;
    }

    .after_3:after {
        width: 100%;
        height: 30vw;
        background-size: cover;
        margin-bottom: 30px;
    }

    .after_4:after {
        width: 100%;
        height: 30vw;
        background-size: cover;
        margin-bottom: 30px;
    }
    
    .link-details-btn {
        margin-top: 30px;
    }
}

@media (max-width: 1024px) {
    .how_we_work {
        padding: 0 0 58px 0;
    }

    .work_list_1 {
        max-width: 459px;
        margin-bottom: 58px;
    }

    .work_list_2 {
        flex-wrap: initial;
        flex-direction: row;
        max-width: 920px;
    }

    .after_1:after {
        width: 50%;
        height: 697px;
    }

    .after_2:after {
        width: 50%;
        height: 697px;
    }

    .after_3:after {
        width: 50%;
        height: 697px;
    }

    .after_4:after {
        width: 50%;
        height: 697px;
    }

    .work-list-item-2-text {
        width: 50%;
        margin-right: 50px;
    }

    .link-details-btn {
        margin-top: 26px;
    }

    .text-text {
        max-width: 441px;
        margin-top: 8px;
    }
}

@media (max-width: 995px) {
    .work_list_1 {
        max-width: 668px;
    }

    .work_list_2 {
        flex-direction: column-reverse;
    }

    .work-list-item-2-text {
        width: 100%;
    }

    .text-text {
        max-width: 100%;
    }

    .after_1:after {
        background: url("../img/Rectangle-5.png") left center/cover no-repeat;
        height: 284px;
        width: 100%;
    }

    .after_2:after {
        height: 284px;
        width: 100%;
    }

    .after_3:after {
        height: 284px;
        width: 100%;
    }

    .after_4:after {
        height: 284px;
        width: 100%;
    }
}


@media (max-width: 768px) {
    .how_we_work {
        padding: 0 0 83px 0;
    }

    .work_title {
        margin-bottom: 37px;
    }

    .work-list-item-1 {
        font-size: 17px;
    }

    .work-list-item-2-text {
        margin-right: 0;
    }

    .text-text {
        max-width: 668px;    
    }

    .work-details-btn {
        margin-top: 20px;
    }

    .link-details-btn {
        display: inline-block;
        margin-right: 33px;
    }

    .work_list_1 {
        max-width: 100%;
        margin: 0 0 50px 0;
    }
}

@media (max-width: 530px) {
    .work_title {
        font-size: 32px;
    }
}

@media (max-width: 520px) {
    .how_we_work {
        margin: 0;
    }

    .work_list_2 {
        margin-right: 0;
    }

    .work_list_1 {
        margin-right: 0;
    }
}

@media (max-width: 450px) {
    .work-list-item-1 {
        font-size: 15px;
    }
}

@media (max-width: 395px) {
    .work_title {
        font-size: 24px;
    }

    .link-contract-btn {
        margin-top: 15px;
    }
}

@media (max-width: 320px) {
    .how_we_work {
        padding: 0 0 60 px 0;
    }

    .work_title {
        font-size: 24px;
        margin-bottom: 13px;
    }

    .work_list_1 {
        position: initial;
        width: 290px;
        margin-bottom: 15px;
    }

    .work-list-item-1 {
        font-size: 14px;
        margin: 0;
    }

    .work_text_title {
        font-size: 18px;
        margin: 8px 0 14px 0;
    }

    .text-text {
        width: 290px;
        font-size: 14px;
        line-height: 28px;
        margin: 0;
    }

    .link-details-btn {
        width: 162px;
        height: 40px;
        font-size: 12px;
        padding: 10px 45px;
        margin-top: 15px;
        margin-right: 5px;
        display: inline-block;
    }

    .link-contract-btn {
        width: 118px;
        height: 40px;
        font-size: 12px;
        margin-left: 5px;
        padding: 10px 30px;
    }
}